/*navigation */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: right;
    
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 30px 10px 10px;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-style: italic;
    text-align:center;
    font-size: 20px;  
    text-decoration: none
  }
  
li a:hover:not(.active) {
    background-color:rgb(209,227,237);
    
  }
  .active {
    background-color:grey;
    width: 40px;
    padding: 10px 10px 10px 10px;
  }
 
.logo{
    color:rgb(44,62,80);
    font-family: Curlz MT;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;  
    padding: 20px 10px 20px 20px;
    margin:20px 10px 20px 10px;

}

.headerbg{
    background-color:rgb(100, 124, 100);
}
.middlebg{
    background-color:rgb(209,227,237);
}
.footerbg{
    background-color:rgb(112,146,190);
}
.middlefont{
    color:rgb(100,124,100);
}
.footerbg{
    background-color:rgb(112,146,190);
}


.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee;
}

/*side info*/
.sideinfo {
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
  }
  /* Form input*/
.inputform{
     margin: 20px 20px 20px 20px;
     padding: 10px 10px 10px 10px;
}


.cyan{
  background-color: cyan;
}
.red{
  background-color: blue;
}
.grey{
  background-color: grey;
}
.test{
  border: 1px solid black;
}
.sameline{
  display: inline-block;
}
 